<div class="clientes">
  <h1>Clientes</h1>
  
  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

  <%= image_tag("rails.png") %>

</div>